/* Variabel warna seperti di Bootstrap */
:root {
    --bs-primary: #0c174b;
    --bs-secondary: #cbd5e1;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #fabf18;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
}

a {
    text-decoration: none;
}

.description-page{
    font-family: 'Inter';
    color: #fff;
    width: 100%;
    padding: 120px 0px 20px 30px;
    background-color: #0C174B;

}

.yellow-bar{
    width: 50px;
    height: 5px;
    background-color: #F7BC12;
    transition:ease-in-out 0.2s;
}

.organisasi-section:hover .yellow-bar {
    width: 85px;
    
}

.organisasi-section{
    font-family: 'Inter';
}

.organisasi-member img{
    width: 50%;
    height: auto;
    object-fit: cover;
}

.text-container{
    color: #000;
    font-weight: 500;
}

.text-container a{
    text-decoration: none;
    color: #000;
    transition: ease-in-out 0.2s;
}
.text-container a:hover{
    color: #3499C5;
}
.name{
    color: #3499C5;
    margin-bottom: -5px;
}



/* md */
@media (min-width: 768px) {

    .navbar-brand img {
        width: 80px;
    }
}

/* lg */
@media (min-width: 992px) {

    .navbar-brand img {
        width: 100px;
    }
}
