/* Variabel warna seperti di Bootstrap */
:root {
    --bs-primary: #0c174b;
    --bs-secondary: #cbd5e1;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #fabf18;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
}

a {
    text-decoration: none;
}


.description-page{
    font-family: 'Inter';
    color: #fff;
    width: 100%;
    padding: 120px 0px 20px 30px;
    background-color: #F7BC12;
}


.introduction-container{
    width: 100%;
    background-color: #D9D9D987;
    padding: 2%;
}
.introduction-container img{
    border-radius: 50%;
    width: 35%;
    height: auto;
    object-fit: cover;
}
.introduction-container p{
    font-family: 'Inter';
    text-align: justify;
    font-weight: 500;
    font-size:1.1rem;
    line-height: 25px;
}

.yellow-bar-container{
    width: 100%;
    height: 40px;
    background-color: #F7BC12;
}

.yellow-bar{
    width: 50px;
    height: 10px;
    background-color: #F7BC12;
    transition:ease-in-out 0.2s;
}

.legalitas-container{
    padding: 4%;
}
.legalitas-container h4,
.prinsip-container h4,
.kelola-container h4{
    font-family: 'Inter';
    font-size: 1.8rem;
}
.legalitas-container ol{
    margin-left: -15px;
}

.legalitas-container p,
.legalitas-container li,
.kelola-container p{
    font-family: 'Inter';
    margin: 0;
    text-align: justify;
    font-weight: 500;
}

.prinsip-container {
    font-family: 'Inter';
    position: relative; /* Menjadikan parent sebagai posisi acuan */
    color: #fff;
    padding: 4% 0%;
    overflow: hidden; /* Menghindari overflow elemen */
}

.prinsip-container::before {
    content: "";
    background-image: url('/img/tatakelola2.jpeg');
    background-size: cover;
    background-position: center;
    filter: brightness(70%); /* Atau gunakan opacity */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* Menempatkan pseudo-element di belakang teks */
}

.prinsip-container li{
    color:#000;
}

.deskripsi-container{
    font-family: 'Inter';
    text-align: justify;
    font-weight: 500;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #F7BC12;
}


/* md */
@media (min-width: 768px) {

    .navbar-brand img {
        width: 80px;
    }
}

/* lg */
@media (min-width: 992px) {

    .navbar-brand img {
        width: 100px;
    }

}