.libre-caslon-text-regular {
    font-family: "Libre Caslon Text", serif;
    font-weight: 400;
    font-style: normal;
}

.libre-caslon-text-bold {
    font-family: "Libre Caslon Text", serif;
    font-weight: 700;
    font-style: normal;
}

.libre-caslon-text-regular-italic {
    font-family: "Libre Caslon Text", serif;
    font-weight: 400;
    font-style: italic;
}

a {
    text-decoration: none;
}

.bg-nav {
    background-color: var(--bs-primary);
}

.navbar {
    transition: background-color 0.5s ease, transform 0.2s ease;
    /* height: 100vh; */
}

.navbar-toggler-icon {
    filter: invert(1);
}

.navbar .contact-info .contact,
.mail {
    font-size: 12px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    color: var(--bs-secondary);
}

.navbar .contact-info .contact i,
.mail i {
    font-size: 14px;
}

.navbar .contact-info a :hover {
    color: var(--bs-light);
}

.navbar .contact p,
.mail p {
    margin: 0;
}

.navbar .contact i,
.mail i {
    vertical-align: middle;
}

.navbar .line {
    width: 930px;
    height: 0.3px;
    background-color: #7f7f7f;
}

.nav-item {
    position: relative;
}

.nav-line {
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 0;
    background-color: rgb(254, 20, 20);
    transition: width 0.3s;
}

.nav-item:hover .nav-line {
    width: 100%;
}

.nav-item:hover .nav-link {
    color: rgb(255, 255, 255);
}

.nav-link {
    color: #cbd5e1;
}

.nav-link:focus {
    color: #fff;
}

.dropdown:hover .dropdown-menu {
    display: block;
    border-radius: 0 0 5px 5px;
}

.dropdown-item {
    font-family: "Inter", sans-serif;
    color: #5c5c5c;
}

.dropdown-item:hover {
    background-color: #e9f0f0;
    color: var(--bs-dark);
}

.description-page{
    font-family: 'Inter';
    color: #fff;
    width: 100%;
    padding: 120px 0px 20px 30px;
    background-color: #F7BC12;
}

.yellow-bar{
    width: 50px;
    height: 10px;
    background-color: #F7BC12;
    transition:ease-in-out 0.2s;
}

.intro-container{
    font-family: 'Inter';
    background-color: #F5F5F5;
    border-radius: 30px;
}
.intro-img-section img{
    width: 320px;
    height: 600px;
    border-radius: 30px;
    object-fit: cover;
}
.intro-text-section{
    text-align: justify;
}
.intro-pengalaman-container{
    transition: ease-in-out 0.2s;
}
.intro-pengalaman-container:hover{
    scale: 105%;
    transition: ease-in-out 0.2s;
}
.intro-pengalaman-container h4{
    width: 120px;
    padding: 10px 0px;
    background-color: #3499C5;
    color: #fff;
    border-radius: 15px;
}
.sejarah-section:hover .yellow-bar,
.visi-misi-section:hover .yellow-bar{
    width: 85px;
}
.sejarah-section{
    font-family: 'Inter';
    margin-top: 100px;
}
.sejarah-shape-container{
    margin-left: -50px;
    width: 100px;
    height: 90px;
    border-radius: 50%;
    background-color: #3499C5;
}
.sejarah-text-container{
    text-align: justify;
}
.sejarah-img-section img{
    width: 430px;
    height: 400px;
    object-fit: cover;
    object-position: -10px center;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
.visi-misi-section{
    font-family: 'Inter';
    background-color: #3499C5;
    border-top-left-radius:80px ;
    border-bottom-right-radius:80px ;
    margin: 100px 0px;
}
.visi-misi-img-section img{
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-top-left-radius:80px ;
    border-bottom-right-radius:80px ;
}
.visi-misi-text-section{
    text-align: justify;
    color: #fff;
}
.company{
    font-family: 'Inter';
}
.company .logo img {
    max-width: 130px;
}
.company .logo-csc img {
    max-width: 230px;
}
@media (max-width: 992px) {
    .sejarah-img-section img {
        width: 330px;
        height: 300px;
    }
    .visi-misi-img-section img{
        height: 650px;
    }
}
@media (max-width: 768px) {
    .visi-misi-img-section img{
        height: 500px;
    }
}
@media (max-width: 568px) {
    .visi-misi-img-section img{
        height: 400px;
    }
}