:root {
    --bs-primary: #0c174b;
    --bs-secondary: #cbd5e1;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #fabf18;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
}

a {
    text-decoration: none;
}
