:root {
    --bs-primary: #0c174b;
    --bs-secondary: #cbd5e1;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #fabf18;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
}

a {
    text-decoration: none;
}



.navbar {
    transition: background-color 0.5s ease, transform 0.2s ease;
    /* height: 100vh; */
}

.navbar-brand-filter {
    filter: brightness(0) invert(1);
    transition: filter 0.3s ease;
}

.navbar-brand-ori {
    filter: none;
    transition: filter 0.3s ease;
}

.navbar-brand img {
    width: 70px;
}

.navbar-toggler-icon {
    filter: invert(1);
}

.navbar .contact-info .contact,
.mail {
    font-size: 12px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    color: var(--bs-secondary);
}

.navbar .contact-info .contact i,
.mail i {
    font-size: 14px;
}

/* .navbar .contact-info a :hover {
    color: #fff;
} */

.navbar .contact p,
.mail p {
    margin: 0;
}

.navbar .contact i,
.mail i {
    vertical-align: middle;
}

.line {
    width: 750px;
    height: 0.3px;
    background-color: #7f7f7f;
}

.line-scroll {
    width: 750px;
    height: 0.3px;
    background-color: #e3e3e3;
}

.nav-item {
    position: relative;
}

.nav-line {
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 0;
    background-color: rgb(255, 230, 0);
    transition: width 0.3s;
}

.nav-item:hover .nav-line {
    width: 100%;
}

.dropdown:hover .dropdown-menu {
    display: block;
    border-radius: 0 0 5px 5px;
}

.dropdown-item {
    font-family: "Inter", sans-serif;
    color: #5c5c5c;
}

.dropdown-item:hover {
    background-color: #e9f0f0;
    color: var(--bs-dark);
}

.description-page{
    font-family: 'Inter';
    color: #fff;
    width: 100%;
    padding: 190px 0px 20px 30px;
    background-color: #0C174B;
}
h3{
    font-weight: bold;
    font-family: 'Inter';
}
.yellow-bar{
    width: 50px;
    height: 10px;
    background-color: #F7BC12;
    transition:ease-in-out 0.2s;
}

