:root {
    --bs-primary: #0c174b;
    --bs-secondary: #cbd5e1;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #fabf18;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
}

a {
    text-decoration: none;
}


.description-page{
    font-family: 'Inter';
    position: relative; /* Menjadikan parent sebagai posisi acuan */
    color: #fff;
    padding: 4% 0%;
    overflow: hidden; /* Menghindari overflow elemen */
    width: 100%;
    padding: 120px 0px 20px 30px;
}
.description-page::before{
    content: "";
    background-image: linear-gradient(rgba(0, 0, 255, 0.3), rgba(0, 0, 255, 0)),
    url('/img/layanan/ketahanan-pangan/ketahanan1.jpeg');
    background-size: cover;
    background-position: center;
    filter: brightness(70%); /* Atau gunakan opacity */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* Menempatkan pseudo-element di belakang teks */
}

h3{
    font-weight: bold;
    font-family: 'Inter';
}

.green-bar{
    width: 50px;
    height: 10px;
    background-color: #298C10;
    transition:ease-in-out 0.2s;
}

.bidang-pangan-section:hover .green-bar,
.mitra-pangan-section:hover .green-bar,
.yayasan-pangan-section:hover .green-bar,
.gallery-pangan-section:hover .green-bar,
.inovasi-pangan-section:hover .green-bar,
.dokumentasi-pangan-section:hover .green-bar{
    width: 85px;
}

.intro-img-section img{
    margin: 0px 10px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.intro-text-section{
    font-family: 'Inter';
    text-align: justify;
}

.bidang-pangan-section h3,
.bidang-pangan-section p,
.mitra-pangan-section,
.yayasan-pangan-section,
.gallery-pangan-section h3,
.gallery-pangan-section h5,
.inovasi-pangan-section p,
.inovasi-pangan-section h5,
.bidang-pangan-section a{
    text-align: justify;
    font-family: 'Inter';
    color: #000;
}
.inovasi-pangan-section h5{
    font-weight: bold;
}
.gallery-pangan-section a,
.inovasi-pangan-section a,
.inovasi-text a,
.dokumentasi-pangan-section a{
    text-decoration: none;
    color: #474747;
    transition: ease-in-out 0.2s;
}
.gallery-pangan-section a:hover,
.inovasi-pangan-section a:hover,
.inovasi-text a:hover,
.dokumentasi-pangan-section a:hover{
    color: #000;
    text-decoration: none;
}
.toggle-btn .toggle-text {
    display: inline;
}

.toggle-btn .toggle-icon {
    transition: transform 0.3s ease;
}

.toggle-btn[aria-expanded="false"] .toggle-text::before {
    content: "Baca Selengkapnya"; 
}
.toggle-btn[aria-expanded="true"] .toggle-text::before {
    content: "Tutup"; 
}

.toggle-btn[aria-expanded="true"] .toggle-icon {
    transform: rotate(180deg);
}

.gallery-pangan-container{
    transition: ease-in-out 0.2s;
}

.gallery-pangan-container img{
    border-radius: 20px;
    width: 350px;
    height: 250px;
    object-fit: cover;
    margin-bottom: 10px;
}
.gallery-pangan-container:hover{
    scale: 105%;
}

.peta img {
    max-width: 100%;
}


.inovasi-pangan-container{
    background-color: rgba(217, 217, 217, 0.25);
    border-radius: 20px;
}

.inovasi-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    background-color: rgba(217, 217, 217, 0.50);
    text-align: justify;
    border-radius: 10px;
    font-family: "Inter";
}

.inovasi-text a{
    text-decoration: none;
    font-family: "Inter";
    color: #474747;
    transition: ease-in-out 0.2s;;
}

.dokumentasi-pangan-container{
    padding: 0px 150px;
}

.dokumentasi-pangan-container img{
    border-radius: 20px;
    width: 350px;
    height: 250px;
    object-fit: cover;
    transition: ease-in-out 0.2s;
}
.dokumentasi-pangan-container img:hover{
    scale: 105%;
}

.layanan-lainnya-section .layanan-card {
    border: none;
    width: 35%;
    overflow: hidden;
    border-radius: 15px;
}


.layanan-lainnya-section .layanan-card a {
    color: #f3f3f3;
}

.layanan-lainnya-section .card-body {
    bottom: -45px;
    padding: 25px;
    transition: ease-in-out 0.25s;
}

.layanan-lainnya-section .layanan-card:hover .card-body {
    bottom: 0;
    transition: ease-in-out 0.25s;
}

.layanan-lainnya-section .layanan-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(60%);
}

.layanan-lainnya-section .card-body{
    font-family: 'Inter';
    color: #fff;
}

.layanan-lainnya-section .layanan-card:hover img {
    filter: brightness(50%);
}


.layanan-lainnya-section .line-bar-title {
    width: 50px;
    height: 5px;
    background-color: #F7BC12;
    transition: width 0.3s;
}

.layanan-lainnya-section .line-bar {
    width: 25px;
    height: 5px;
    background-color: #F7BC12;
    transition: width 0.3s;
}

.layanan-lainnya-section .layanan-card:hover .line-bar {
    width: 50px;
}

@media (max-width: 968px) {
    .gallery-pangan-container{
        padding: 0px 10px;
        margin: 0px 0px;
    }
    .gallery-pangan-container img{
        width: 120px;
        height: 90px;
    }
    .layanan-lainnya-section .layanan-card {
        width: 100%;
    }
    .layanan-lainnya-section .layanan-card img {
        height: 120px;
    }
    .inovasi-pangan-container img{
        width: 60%;
    }
    .dokumentasi-pangan-container{
        padding: 0px 0px;
    }
    .dokumentasi-pangan-container img{
        width: 120px;
        height: 90px;
        
    }
}
@media (max-width: 668px) {
    .dokumentasi-pangan-container{
        padding: 0px 50px;
    }
    .dokumentasi-pangan-container img{
        width: 120px;
        height: 90px;
    }

    .intro-img-section img{
        width: 150px;
        height: 150px;
    }
}